@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  html,
  body {
    height: 100%;
  }

  :root {
    --background: hsl(240 7% 97%);
    --foreground: hsl(240 7% 6%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 47.4% 11.2%);

    --card: hsl(225 10% 93%);
    --card-foreground: hsl(222.2 47.4% 11.2%);

    --primary: hsl(176 77% 41%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 29% 96%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(240 7% 97%);
    --ring: hsl(240 5.9% 10%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(227 13% 14%);
    --foreground: hsl(213 31% 91%);

    --muted: hsl(224 16% 27%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);

    --accent: hsl(227 13% 27%);
    --accent-foreground: hsl(210 40% 98%);

    --popover: hsl(231 14% 20%);
    --popover-foreground: hsl(213 31% 91%);

    --card: hsl(224 16% 19%);
    --card-foreground: hsl(213 31% 91%);

    --primary: hsl(176 77% 41%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(230 12% 29%);
    --secondary-foreground: hsl(210 40% 98%);

    --border: hsl(217 19% 27%);
    --input: hsl(227 13% 14%);
    --ring: hsl(240 4.9% 83.9%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
